* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-image: url('mars_earth_bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 20px;
}

input[type=text], input[type=number], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

label {
    margin-bottom: 10px;
    display: block;
}

button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button[type=submit]:hover {
    background-color: #45a049;
}
